*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f6f9;
}

.quiz-container{

    width:100%;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

    padding:20px;
}

.quiz-box,
.result{

    width:500px;
    max-width:100%;

    background:white;

    padding:30px;

    border-radius:12px;

    box-shadow:0 10px 25px rgba(0,0,0,.15);
}

.quiz-container h1{

    margin-bottom:30px;
    color:#333;
}

.question-number{

    color:#666;
    margin-bottom:15px;
}

.question{

    margin-bottom:25px;
    color:#222;
}

.options{

    display:flex;
    flex-direction:column;
    gap:15px;
}

.option-btn{

    padding:14px;

    border:none;

    background:#2563eb;

    color:white;

    font-size:16px;

    border-radius:8px;

    cursor:pointer;

    transition:.3s;
}

.option-btn:hover{

    background:#1d4ed8;
}

.score{

    margin-top:25px;

    text-align:center;

    font-size:18px;

    font-weight:bold;
}

.result{

    text-align:center;
}

.result h2{

    margin-bottom:20px;
}

.result p{

    font-size:20px;
    margin-bottom:25px;
}

.result button{

    padding:12px 30px;

    border:none;

    background:#16a34a;

    color:white;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;
}

.result button:hover{

    background:#15803d;
}

.correct {
    background-color: #28a745;
}

.wrong {
    background-color: #dc3545;
}
.next-btn {

    margin-top: 20px;

    padding: 12px 24px;

    border: none;

    border-radius: 8px;

    background-color: #2563eb;

    color: white;

    font-size: 16px;

    font-weight: 600;

    cursor: pointer;

    transition: 0.3s;
}

.next-btn:hover {

    background-color: #1d4ed8;
}
.answer-message {

    margin-top: 25px;

    text-align: center;
}
.correct-text {

    color: #16a34a;

    font-size: 20px;

    font-weight: bold;

    margin-bottom: 15px;
}
.wrong-text {

    color: #dc2626;

    font-size: 20px;

    font-weight: bold;

    margin-bottom: 15px;
}
.correct {

    background-color: #16a34a !important;

    color: white;
}
.wrong {

    background-color: #dc2626 !important;

    color: white;
}